[submodule "fasd"]
	path = fasd
	url = https://github.com/clvv/fasd.git
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
[submodule "vim.symlink/bundle/vim-pathogen"]
	path = vim.symlink/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim.symlink/bundle/vim-fugitive"]
	path = vim.symlink/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim.symlink/bundle/vim-colors-solarized"]
	path = vim.symlink/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim.symlink/bundle/syntastic"]
	path = vim.symlink/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim.symlink/bundle/nerdtree"]
	path = vim.symlink/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim.symlink/bundle/lightline.vim"]
	path = vim.symlink/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim.symlink/bundle/gundo.vim"]
	path = vim.symlink/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "zsh_custom.symlink/plugins/zsh-autosuggestions"]
	path = zsh_custom.symlink/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "vim.symlink/bundle/nerdcommenter"]
	path = vim.symlink/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim.symlink/bundle/vim-easymotion"]
	path = vim.symlink/bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
